storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget System.Reactive
nuget System.Interactive

nuget K4os.Async.Batch

nuget MySqlConnector
nuget Npgsql
nuget Microsoft.Data.Sqlite
nuget System.Data.SqlClient

nuget Dapper
nuget Polly
nuget Newtonsoft.Json
nuget MediatR

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
